 html,body{
    margin:0;
    padding:0;
}
.scroll-progress{
    width:0;
    background-color: var(--color);
    color:white;
    height:8px;
    position:fixed;
    top:0;
    left:0;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
   
}
span{
    position: fixed;
    top: 0px;
    right: 10px;
    font-size: 12px;
    padding: 6px;
    background: var(--bg-color);
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    animation: pulse-scroll-badge 1.5s infinite;
}


@keyframes pulse-scroll-badge {
    0%, 100% {
        opacity: 0.9;
    }
    50% {
        opacity: 1;
    }
}