 html,body{
    margin:0;
    padding:0;
}
.scroll-progress{
    width:0;
    background-color: var(--color);
    color:white;
    height:8px;
    position:fixed;
    top:0;
    left:0;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
   
}
span{
    position: fixed;
    top: 0px;
    right: 10px;
    font-size: 12px;
    padding: 6px;
    background: var(--bg-color);
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    animation: pulse-scroll-badge 1.5s infinite;
}

.scroll_acb_animated::before{
    content:"";
    position: absolute;
    top:0;
    left:-200%;
    width:20%;
    height:100%;
    background: linear-gradient(to right, rgba(255,255,255,0.055), rgba(255,255,255,0.2), rgba(255,255,255,0.8));
    animation:acbanimate 8s ease-in infinite;
}

@keyframes pulse-scroll-badge {
    0%, 100% {
        opacity: 0.9;
    }
    50% {
        opacity: 1;
    }
}
@keyframes acbanimate{
    0%{
        left:-50%;

    }
    100%{
        left:100%;
    }
}